main {
    
    /* background: var(--main-gray); */
    background: #5b92a8;
    
    background: linear-gradient(360deg,rgba(91, 146, 168, 1) 0%, rgba(198, 224, 155, 1) 100%);
    padding: 1em;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


}

.konf-i-gtb {
    display: flex;
    justify-content: center;
}

.konf-beskrivning{
    display: flex;
    max-width: 30em;
}


.dagar-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dagar {

    border: 1px solid black;
    margin: 1em 1em;
    padding: 0.5em 0.5em 0.5em 0.8em;
    border-radius: 0.5em;

    width: 25em;

    /* background-color: var(--days-background); */
    background-color: rgba(198, 235, 198, 0.8); /* 0.8 = 80% solid color o 20% transparent */
}

.dagar:hover {
    transform: translateY(-10px);
}

.vilka-är-vi {
    border: dashed 1px black;
    border-radius: 0.5em;
    background-color: var(--main-gray);
    padding: 1em 1em;
    margin-top: 4em;
    text-align: center;
    max-width: 50em;
}